.card-img-top {
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover; /* Cover the entire area of the image */
}
.card-img-top-small {
  height: 100px; /* Set a fixed height for the images */
  object-fit: cover; /* Cover the entire area of the image */
}

.custom-shape-divider-bottom-1713620365 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713620365 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1713620365 .shape-fill {
  fill: #3FFF06;
}

.custom-shape-divider-top-1713622803 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1713622803 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1713622803 .shape-fill {
  fill: #F9F9F9;
}



.custom-shape-divider-bottom-1713711837 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1713711837 svg {
  position: relative;
  display: block;
  width: calc(189% + 1.3px);
  height: 33px;
}

.custom-shape-divider-bottom-1713711837 .shape-fill {
  fill: #3FFF06;
}