/* Footer----------------------------------------------------------------- */

/* body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
} */
.footer {
  /* background-color: #007bff; */
  background-color: rgb(77, 186, 128);
  color: white;
  padding: 15px 0;
}
.footer h5 {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer p {
  font-size: 14px;
  line-height: 24px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #f8f9fa;
  text-decoration: none;
}

.clts li {
  display: inline-block;
}
